@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* normalize */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

nav .logo img {
    max-width: 150px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.box {
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}

.box::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,
    rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
}

.box .form {
    position: relative;
    width: 100%;
}

.box .form h2 {
    color: #0d6efd;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.box .form .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.box .form .inputBx input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255,255,255,0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
}

.box .form .inputBx input::placeholder {
    color: #fff;
}

.box .form .inputBx input[type="submit"] {
    background: #fff;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.box .form .inputBx img {
    position: absolute;
    top: 8px;
    left: 10px;
    transform: scale(0.7);
    filter: invert(1);
}

.remember {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    cursor: pointer;
}

.box .form p {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.box .form a {
    color: #fff;
}

@media (max-width: 991px) {
    nav {
        padding: 20px 50px;
        flex-direction: column;
    }

    section {
        padding: 20px 50px;
    }

    .box {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 20px;
    }
    
    section {
        padding: 20px;
    }

    .box {
        padding: 220px 20px 120px;
    }
}