@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* normalize */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

/* BARRA DE NAVEGACIÓN */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}

nav .logo img {
    max-width: 150px;
}

.navbar-list {
    display: flex;
}

.navbar-list li {
    list-style: none;
    margin: 0 10px;
}

.navbar-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-list li:hover a {
    color: #0d6efd;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color:#fff;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
    border-right: 1px solid #fff;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    /*max-width: 968px;*/
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.container .box:hover {
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* EFECTO PARA EL TEXTO DE LA IMÁGEN */

.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#0d6efd,rgb(255, 255, 255));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .imgBx:before {
    opacity: 1;
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}

.container .box:hover .content h2 {
    transform: translateY(0);
    transition-delay: 0.6s;
}

.container .box .content p {
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}

.container .box:hover .content p {
    transform: translateY(0);
    transition-delay: 0.7s;
}

@media (max-width: 991px) {
    nav {
        padding: 20px 50px;
        flex-direction: column;
    }
    
    .navbar-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .container .box .imgBx {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 20px;
    }

    .search {
        position:relative;
        width: calc(100% - 20px);
        height: 40px;
    }

    .container .box .imgBx {
        padding: 220px 20px 120px;
    }
}


